*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    margin: 10px;
    justify-content: space-around;
}

#container {
    margin: 10px auto;
    width: 800px;
    height: 800px;
    display: grid;
    border: 1px solid black;
}

.active {
    background-color: black;
}